//Global Colors variables

$background: #c9a58b;
$blue: #2196f3;
$dark-blue: #0e2544;
$dark-background: #4d4d4d;
$red: #f22a42;
$yellow: #FFE566;
$orange: #FF9500;

$light-green: #34C759;
$light-indigo: #5856D6;
$light-pink: #FF2D55;
$light-purple: #AF52DE;
$light-teal: #5AC8FA;
$light-white: #FFFAFA;