@import "./styles/colorsConfig";
@import "./styles/mixins";

div.App {
  text-align: center;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: static;
  font-family: 'Roboto', sans-serif;

  & > footer.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(45deg, $dark-blue, $red);
    background-size: 250% 300%;
    animation: g_color_background 5.5s ease infinite;

    & > span {
      color: white;
      font-size: 0.8em;
      width: 100%;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to('small') {
        font-size: 1.2em;
      }
    }

    & > div.networks_wrapper {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8em;
      padding: 0.5em;
      @include respond-to('small') {
        font-size: 1.2em;
      }

      & > a .net_icon {
        margin: 0 0.5em;
        color: white;
        cursor: pointer;
      }
      & > a .net_icon:hover {
        color: $blue;
      }
    }
  }

  & > .light_icon {
    position: fixed;
    top: 5vh;
    right: 25px;
    color: $yellow;
    font-size: 2em;
    z-index: 1100;
    cursor: pointer;
  }

  & > .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 15vh;
    position: fixed;
    z-index: 1000;

    & > a img {
      display: flex;
      width: 250px;
      height: 70px;
      @include respond-to('small') {
        width: 300px;
        height: 100px;
      }
    }
    & > span {
      width: 90%;
      color: $red;
      font-size: 1.2em;
      padding: 2em 1em 1.5em 1em;
      @include respond-to('v-small') {
        font-size: 1.5em;
      }
      @include respond-to('small') {
        font-size: 1.5em;
        padding: 3em 1em 2.5em 1em;
        font-weight: bold;
      }
    }
  }
}

div.app_darkMode {
  background-color: $dark-blue;

  & > .dark_icon {
    position: fixed;
    top: 5vh;
    right: 25px;
    color: $dark-background;
    font-size: 2em;
    z-index: 1100;
    cursor: pointer;
    transform: rotate(180deg);
  }

  & > .header_darkMode {
    background-color: $dark-blue;
  }
}

@keyframes g_color_background {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
