@import "./styles/colorsConfig";
@import "./styles/mixins";

div.App {
  text-align: center;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: static;
  font-family: 'Roboto', sans-serif;
}

div.app_darkMode {
  background-color: $dark-blue;
}

@keyframes g_color_background {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
